$grid-gutter-width: 20px;

@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "partials/bootstrap-overrides";

body {
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

a {
  color: white;
  transition: color 0.2s;
}

.hidden{
  display: none;
}

.main-container {
  @include make-container();
  max-width: 1280px;
  padding-left: 50px;
  padding-right: 50px;
  @include media-breakpoint-down(lg) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 880px;
  }
  @include media-breakpoint-down(md){
    padding-left: 37px;
    padding-right: 37px;
  }
}


@import "partials/header";
@import "partials/products";
@import "partials/navigation";
@import "partials/advantagies";
@import "partials/blog";
@import "partials/about";
@import "partials/cross-btn";
@import "partials/partners";
@import "partials/footer";