@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "partials/bootstrap-overrides";

body {
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

a {
  color: white;
  transition: color 0.2s;
}

.hidden{
  opacity: 0;
}

@import "partials/header";
@import "partials/products";
@import "partials/navigation";
@import "partials/advantagies";
@import "partials/blog";
@import "partials/about";
@import "partials/cross-btn";
@import "partials/partners";
@import "partials/footer";