.more-btn{
    margin-top: 30px;
    /* width: 250px; */
    height: 30px;
    cursor: pointer;
    text-align: right;
    
    a{
      display: inline;
      position: relative;
      text-decoration: none;
      font-size: 19px;
      font-weight: 500;
      color: #0dd926;
      padding-left: 40px;
      text-align: right;
  
      &:hover{
        color: rgba(13, 217, 37, 0.5);
      }
    }
    .cross-btn::before {
      content: "";
      width: 20px;
      height: 2px;
      background-color: #0dd926;
      position: absolute;
      transition-timing-function: ease-in-out;
      transition: 1s;
      left: 6px;
      top: 13px;
    }
    
    .cross-btn::after {
      content: "";
      width: 2px;
      height: 20px;
      position: absolute;
      background-color: #0dd926;
      left: 15px;
      top: 4px;
      transition-timing-function: ease-in-out;
      transition: 1s;
    }
  
    .cross-btn:hover::before,
    .cross-btn:hover::after {
    transform: rotate(180deg);
    }
  }
