.footer {
  width: 100%;
  background-color: #021429;
  max-width: 1920px;
  padding-top: 100px;
  padding-bottom: 100px;

  ul {
    margin: 0;
  }

  .footer__logo {
    display: block;
    width: 155px;
    height: 33px;
    background-image: url(../images/techplast_logo_grey_155.png);
    background-repeat: no-repeat;
    background-position: left;

    @include media-breakpoint-down(md) {
      width: 120px;
      background-image: url(../images/techplast_logo_grey_120.png);
    }
  }

  .footer__navigation {
    a {
      text-decoration: none;
    }

    .footer__navigation-items {
      padding: 0;
      /* line-height: 35px; */

      .footer__navigation-item {
        list-style: none;
        margin-bottom: 10px;

        a {
          text-decoration: none;
          font-size: 19px;
          color: #fefefe;

          &:hover {
            color: #00c418;
          }
        }
      }
    }
  }

  .footer__social {
    display: flex;
    flex-direction: column;
    padding: 0;

    li {
      /* line-height: 35px; */
      list-style: none;

      a {
        text-decoration: none;
        font-size: 15px;
        color: #acb4c0;

        &:hover {
          color: #00c418;
        }
      }
    }
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    text-align: right;
    /* line-height: 30px; */

    p {
      font-size: 15px;
      color: #acb4c0;
      margin: 0;

    }

    a {
      text-decoration: none;
      font-size: 15px;
      color: #acb4c0;


      &:hover {
        color: #00c418;
      }
    }
  }

  .footer__copyright-text {
    display: block;
    color: #747a83;
    padding-left: 0;
    padding-right: 30px;
    margin-top: 150px;
    font-size: 15px;
  }

  .footer__privacy-policy {
    display: block;
    font-size: 15px;
    color: #747a83;
    text-decoration: none;
    margin-top: 150px;

    &:hover {
      color: #00c418;
    }
  }

  .footer__developer {
    display: block;
    margin-top: 150px;
    text-align: right;
    font-size: 15px;
    color: #747a83;

    a {
      text-decoration: none;
      font-size: 15px;
      color: #acb4c0;

      &:hover {
        color: #00c418;
      }
    }
  }
}


@media (max-width: 1220px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
  .footer .footer__privacy-policy {
    margin-top: 10px;
  }
}

@media (max-width: 960px) {

  .footer .footer__social li a,
  .footer .footer__contacts p,
  .footer .footer__contacts a,
  .footer .footer__privacy-policy,
  .footer .footer__developer,
  .footer .footer__developer a,
  .footer .footer__copyright-text {
    font-size: 13px;
  }

  .footer .footer__navigation .footer__navigation-items .footer__navigation-item {
    a {
      font-size: 15px;
    }
  }
}

@media (max-width: 720px) {
  .footer .footer__copyright-text {
    margin-top: 100px;
  }

  .footer .footer__developer,
  .footer .footer__developer a {
    margin-top: 100px;
  }
  .footer__navigation{
    padding-left: 20px;
  }
  .footer .footer__social{
    padding-left: 20px;
  }
  .footer .footer__navigation .footer__navigation-items .footer__navigation-item{
    margin-bottom: 10px;
  }
}

@media (max-width: 575px) {
  .footer{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__navigation{
    padding-left: 0;
    margin-top: 30px;
  }
  .footer .footer__social{
    padding-left: 0;
    margin-top: 30px;
  }
  .footer .footer__navigation .footer__navigation-items .footer__navigation-item{
    margin-bottom: 10px;
  }
  .footer .footer__contacts{
    margin-top: 30px;
    text-align: left;
  }
  .footer .footer__copyright-text{
    margin-top: 50px;
  }
  .footer .footer__developer, .footer .footer__developer a{
    margin-top: 10px;
    text-align: left;
  }
  .col-xs-12 {
    flex: 0 0 100%; 
    max-width: 100% }
}

