.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 530px;
  background-color: #021429;

  .footer__container {
    display: flex;
    width: 1200px;
    height: 360px;

    .footer__logo__copyright {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
      width: 300px;

      .footer__logo {
        display: flex;
        width: 200px;
        height: 50px;
        background-image: url(../images/techplast_logo_grey.png);
        background-repeat: no-repeat;
        background-position: left;
      }

      p {
        color: #747a83;
      }
    }

    .footer__navigation {
      display: flex;
      position: relative;
      justify-content: space-between;
      flex-direction: row;
      height: 100%;
      width: 550px;
      margin-left: auto;

      a {
        text-decoration: none;
      }

      .footer__navigation__items {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 150px;

        li {
          height: 40px;
          list-style: none;

          a {
            text-decoration: none;
            font-size: 19px;
            color: #fefefe;

            &:hover {
              color: #00c418;
            }
          }
        }
      }
    }

    .footer__social {
      display: flex;
      flex-direction: column;
      width: 200px;
      height: 150px;

      li {
        height: 40px;
        list-style: none;

        a {
          text-decoration: none;
          font-size: 15px;
          color: #acb4c0;

          &:hover {
            color: #00c418;
          }
        }
      }
    }

    .footer__privacy-policy {
      position: absolute;
      width: 300px;
      height: 50px;
      bottom: -8px;
      left: 37px;
      font-size: 15px;
      color: #acb4c0;

      &:hover {
        color: #00c418;
      }
    }
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 300px;
    margin-left: auto;
    text-align: right;

    p {
      font-size: 15px;
      color: #acb4c0;
    }

    a {
      text-decoration: none;
      font-size: 15px;
      color: #acb4c0;

      &:hover {
        color: #00c418;
      }
    }

    .footer__developer {
      margin-top: auto;
      margin-bottom: 17px;
      font-size: 15px;
      color: #acb4c0;
    }
  }
}


@media screen and (max-width: 1220px){
    .footer .footer__container{
        width: 93%;
        height: 300px;
    }

    .footer .footer__container .footer__navigation{
        width: 300px;
    }
}

@media screen and (max-width: 960px){
    .footer {
        height:400px;
    }
}