.navigation {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;

  .navigation__logo {
    width: 200px;
    height: 35px;
    background-image: url(../images/Techplast-logo-dark.png);
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    left: 0;
    top: 33px;
  }

  .navigation__phone {
    font-size: 15px;
    position: absolute;
    top: 43px;
    left: 280px;

    &.navigation__phone--main {
      left: 0px;
    }
  }

  .navigation__social {
    margin-left: 125px;
  }
}

.navigation-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 550px;
  height: 110px;
  justify-content: space-between;
  font-size: 19px;
  margin: 0;
  align-items: center;
  margin-left: 150px;

  .navigation-menu__link {
    display: inline-block;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: solid transparent 3px;
    color: inherit;


    &:hover {
      color: #bcc7cf;
    }

    &.navigation-menu__link--active {
      color: #0dd926;
      border-bottom-color: #0dd926;
    }
  }

  &.navigation-menu--social {
    font-size: 15px;
    width: 115px;

    .navigation-social__link {
      padding-bottom: 3px;
    }
  }
}

@media (max-width: 960px) {
  .navigation-menu {
    visibility: hidden;
  }
}
