.partners__container {
  width: 1180px;
  height: 490px;
  margin: 0 auto;
  margin-top: 40px;

  p {
    width: 100%;
    font-size: 40px;
    color: #01152c;
    margin-bottom: 40px;
  }

  .partners__banners {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 205px;

    .partners__banners__item {
      display: flex;
      width: 25%;
      height: 200px;
      border: 1px solid #afafaf;

      &.partner__1 {
        background-image: url(../images/rosneft_logo.png);
        background-repeat: no-repeat;
        background-position: center;
        border-right: 0.5px;
      }

      &.partner__2 {
        background-image: url(../images/gazprom_logo.png);
        background-repeat: no-repeat;
        background-position: center;
        border-right: 0.5px;
      }

      &.partner__3 {
        background-image: url(../images/lukoil__logo.png);
        background-repeat: no-repeat;
        background-position: center;
        border-right: 0.5px;
      }

      &.partner__4 {
        background-image: url(../images/sibneft_logo.png);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}



@media screen and (max-width: 1200px) {
  .partners__container {
    width: 100%;
  }

  .partners__container p{
      margin-left: 30px;
  }

  .partners__container .partners__banners{
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 960px){
    .partners__container .partners__banners .partners__banners__item {
        height: 150px;
    }
}
