.products-container {
  display: flex;
  color: #01152c;
  padding: 0;
  width: 100%;
  height: 800px;
  /* background-color: #768e9f; */
  max-width: 1920px;

  &.products-container--production-menu {
    width: 90%;
    height: 450px;
    background-color: transparent;
    margin: 0 auto;
    margin-bottom: 200px;
    margin-top: 50px;
  }
 
  .products__list {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #01152c;
    padding-top: 55px;

    &.products__list--production-menu {
      background-color: transparent;
      width: 40%;
      margin-right: 50px;
    }

    .products__list__wrapper {
      display: flex;
      position: relative;
      flex-direction: column;
      flex-wrap: wrap;
      width: 80%;
      height: 630px;

      &.products__list__wrapper--production-menu {
        margin-top: 50px;
      }


      .list__explanation {
        display: flex;
        font-size: 40px;
        padding-bottom: 20px;

        a {
          text-decoration: none;
          color: #0dd926;
        }
      }

      .products__item {
        /* width: 500px; */
        height: 100px;
        display: flex;
        align-items: center;
        font-size: 24px;
        color: white;
        cursor: pointer;

        &.product__item--production {
          a {
            color: #01152c;
            font-weight: 400;
          }
        }

        a {
          text-decoration: none;
        }

        &:hover a {
          color: #0dd926;
        }
      }

      .products__item--underline {
        width: 100%;
        height: 1px;
        background-color: #27384b;

        &.products__item--underline-production {
          width: 100%;
          background-color: #d9dbdc;
        }
      }
    }
  }


  .products__photo {
    display: flex;
    position: relative;
    height: 100%;
    width: 50%;

    &.products__photo--production {
      width: 60%;
    }

    .products__photo__item {
      width: 100%;
      height: 100%;
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      transition: opacity 0.5s;
      opacity: 0;

      &.active {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 1256px) {
  .products-container {
    height: 630px;

  }
}


@media screen and (max-width: 960px) {
  .products-container {
    height: 530px;

    .products__list {

      .products__list__wrapper {
        height: 500px;
        .list__explanation {
          font-size: 28px;
        }
        .products__item{
          font-size: 19px;
          width: 100%;
          height: 75px;
        }
      }
    }
  }
}
